<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDoApp</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="header-area">
      <div class="header-logo"><img src="img/header_logo1.png" alt="ロゴ"></div>
      <div class="header-title">HOME</div>
      <div class="dueDate-btn">予定日</div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="title">
        <h1>ToDoリスト</h1>
      </div>
      <div class="radio-btn">
        <input type="radio" name="select" value="すべて" checked>すべて
        <input type="radio" name="select" value="作業中">作業中
        <input type="radio" name="select" value="完了">完了
      </div>
      <div id="app" class="list-area">
        <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
        <!-- <button @click="purge">一括削除</button> -->
        <span @click="purge" class="purge-btn">一括削除</span>
        <ul>
          <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <span :class="{done: todo.isDone}">{{ todo.title }}</span>
          <span @click="deleteItem(index)" class="delete-btn">削除</span>
          </li>
          <li v-show="!todos.length">ToDoリストがありません</li>
        </ul>
        <form @submit.prevent="addItem">
          <input type="text" v-model="newItem">
          <input type="submit" value="新規追加">
        </form>
      </div>
    </div>
  </main>
  <footer></footer>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>
</html>